freetype-py==2.5.1
glcontext==3.0.0
ImageIO==2.37.2
moderngl==5.12.0
multipledispatch==1.0.0
networkx==3.4.2
numpy==1.26.4
pillow==12.1.0
pyglet==1.5.31
PyOpenGL==3.1.0
pyrender==0.1.45
pyrr==0.10.3
scipy==1.15.3
six==1.17.0
trimesh==4.11.1
